@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
    --darkblue: #2443e1;
    --blue: #3F5EFB;
    --lightBlue: #5770ff;
    --white: #fff;
    --offWhite: #e3e9ef;
    --lightestGray: #C4C2C2FF;
    --lightGray: #FFFFFF7F;
    --mainGray: #333;
    --gray: #494B4FFF;
    --darkGray: #2f3033;
    --black: #000000FF;
    --magenta: #622159;
}

/*Whole Webpage*/
html,body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

/*Headers, Paragraphs, Text etc*/
h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: xxx-large;
    margin-bottom: 0;
    margin-top: 10px;
}
h2{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 10px
}
h3{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    font-size: x-large;
    margin: 0;
}
h4{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    font-size: large;
}
hr{
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: var(--darkGray);
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--darkGray);
}
ul{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
}
a {
    font-size: large;
    display: inline-block;
    z-index: 1;
}
span {
    font-size: large;
}
.bold {
    font-weight: 900;
}
.notBold{
    font-weight: normal;
}
.italic{
    font-style: italic;
}

/*----Page Header----*/
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: var(--mainGray);
    border-bottom: 1px solid #e3e9ef;
    position: fixed;
    height: 60px;
    top: 0;
    overflow: hidden;
    z-index: 1;
    color: var(--offWhite);
}
.portfolioContainer{
    height: 400px;
    margin: 0;
    padding: 0;
    width: 100%
}

.sideHeader {
    background-color: var(--mainGray);
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    max-width: 50px;
    white-space: nowrap;
}
.sideHeader.left {
    float: left;
    border-right: 1px solid var(--offWhite);
}
.sideHeader.right {
    float: right;
    border-left: 1px solid var(--offWhite);
}
.sideText{
    z-index: 0;
    color: var(--offWhite);
    margin: auto;
    font-size: xx-large;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

.sideText.left{
    transform: rotate(270deg);
}
.sideText.right{
    transform: rotate(90deg);
}
.headerText{
    margin: 8px 10px;
    float: right;
}


/*----Body----*/
body {
    background: var(--offWhite);
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--darkGray);
}

/* Main Page Styles - Applies to almost all tabs */
/* Pushed by menu */
#main {
    transition: margin-left .5s;
    padding: 0;
    margin: 40px 0 0 0;
}
.main {
    float: left;
    display: block;
    height: 100%;
    min-width: 650px;
    padding: 10px;
    text-align: center;
}
.mainInner{
    float: left;
    background-color: var(--white);
    display: table;
    height: 100%;
    text-align: center;
    transition: margin-left .5s;
    margin: 0;
    padding: 1% 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Resume Page Style - Applies to only resume */
/* Pushed by menu */
#mainResume {
    transition: margin-left .5s;
    padding: 20px;
}
.mainResume {
    display: block;
    height: 100%;
    margin: 60px auto;
    min-width: 650px;
    padding: 0 20px;
    text-align: center;
}
.mainInnerResume{
    background-color: var(--white);
    display: table;
    height: 100%;
    text-align: center;
    transition: margin-left .5s;
    max-width: 900px;
    min-width: 500px;
    margin: auto;
    padding: 10px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainInnerResume div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

/*----Columns----*/
.splitLeft{
    width: 60%;
    float: left;
    margin-right: 5%;
}
.splitRight{
    width: 35%;
    float: right;
    padding: 0;
}
.columnLeft {
    float: left;
    width: 50%;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
    display: inline-block;
}
.columnRight {
    float: right;
    width: 50%;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
}

/*---Buttons---*/
.bubble{
    display: block;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: var(--mainGray);
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bubbleFooter{
    font-size: small;
    color: var(--lightGray);
}

/*Menu Icon*/
.container {
    display: inline-block;
    cursor: pointer;
}
input[type=button]{
    background: 0;
    border:0;
    margin: -6px 11px;
    height: 40px;
    width: 45px;
    padding: 0;
    position: fixed;
    z-index: 6;
}
.bar1 {
    box-sizing: border-box;
    width: 40px;
    height: 5px;
    background-color: var(--offWhite);
    position: fixed;
    margin: 0;
    top: 16px;
    left: 16px;
    transition: 0.4s;
    z-index: 5;
}
.bar2 {
    box-sizing: border-box;
    width: 40px;
    height: 5px;
    background-color: var(--offWhite);
    position: fixed;
    margin: 0;
    top: 26px;
    left: 16px;
    transition: 0.4s;
    z-index: 5;
}
.bar3 {
    box-sizing: border-box;
    width: 40px;
    height: 5px;
    background-color: var(--offWhite);
    position: fixed;
    top: 36px;
    left: 16px;
    margin: 0;
    transition: 0.4s;
    z-index: 5;
}
/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}


/* The side navigation menu */
.sidebarMenu {
    height: 100%;
    width: 0; /* Change this with JavaScript */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, var(--mainGray) 0%, var(--gray) 100%);
    overflow-x: hidden;
    white-space: nowrap;
    padding-top: 60px;
    transition: 0.5s;
}
.sidebarMenuInner{
    font-size: large;
    margin:0;
    padding:0;
    border-top: 1px solid var(--offWhite);
    cursor: default;
}
.sidebarMenuInner li{
    display: block;
    list-style: none;
    color: var(--offWhite);
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: default;
    border-bottom: 1px solid var(--offWhite);
    text-decoration: none;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    cursor: default;
    color: var(--offWhite);
    text-decoration: none;
}
.sidebarMenuInner li a{
    color: var(--offWhite);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding: 1.18em 9em;
    margin: -1.18em -9em;
}
/*Page in menu you are on*/
#active {
    color: var(--lightGray);
}
li a:hover {
    color: var(--darkGray);
}
.activeLink {
    pointer-events: none;
    cursor: default;
}

/*----Images----*/
img.stretchy {
    width: 100%;
    margin: auto;
}
.imgContainer {
    width: 100%;
    margin: auto;
    text-align: center;
}
.iconContainer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 50px;
    font-size: xx-large;
}
div.scroll-container {
    padding: 10px;
    background-color: var(--mainGray);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 0;
    height: 100%;
}
div.scroll-container img {
    margin: auto;
    padding: 0;
    height: 100%;
    max-height: 400px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*----Links----*/
/* unvisited link */
a:link {
    color: var(--blue);
    text-decoration: none;
    font-size: large;
}
/* visited link */
a:visited {
    color: var(--lightBlue);
    text-decoration: none;
    font-size: large;
}
/* mouse over link */
a:hover {
    color: var(--darkblue);
    text-decoration: underline;
    font-size: large;
}
/* selected link */
a:active {
    color: blue;
    font-size: large;
}

/* unvisited link */
a.bubble:link {
    color: var(--white);
    text-decoration: none;
    font-size: large;
}
/* visited link */
a.bubble:visited {
    color: var(--white);
    text-decoration: none;
    font-size: large;
}
/* mouse over link */
a.bubble:hover {
    color: var(--offWhite);
    text-decoration: none;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(125, 125, 125, 0.2), 0 6px 20px 0 rgba(125, 125, 125, 0.19);
}
/* selected link */
a.bubble:active{
    color: var(--white);
    font-size: large;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
a.icon:link {
    color: var(--darkGray);
    text-decoration: none;
    font-size: xxx-large;
}
/* visited link */
a.icon:visited {
    color: var(--darkGray);
    text-decoration: none;
    font-size: xxx-large;
}
/* mouse over link */
a.icon:hover {
    color: var(--darkblue);
    text-decoration: underline;
    font-size: xxx-large;
}
/* selected link */
a.icon:active {
    color: var(--darkGray);
    font-size: xxx-large;
}



/*----Screen Size Manager----*/
@media screen and (max-width: 700px) {
    #main{
        padding: 0;
        margin: 40px 0;
    }
    .main{
        padding: 0;
        min-width: unset;
    }
    #mainResume{
        padding: 0;
        margin: 40px 0;
    }
    .mainResume{
        padding: 0;
        min-width: unset;
        margin: 0
    }
    .splitLeft{
        width: 100%;
        float: unset;
    }
    .splitRight{
        width: 100%;
        float: unset;
    }
}

@media screen and (max-device-width: 750px) {
    #main{
        padding: 0;
        margin: 80px 0;
    }
    .main{
        padding: 0;
        min-width: unset;
    }
    #mainResume{
        padding: 0;
        margin: 0;
    }
    .mainResume{
        padding: 0;
        margin: 80px auto;
    }
    .splitLeft{
        width: 100%;
        float: unset;
    }
    .splitRight{
        width: 100%;
        float: unset;
    }
    .header{
        height: 100px;
    }
    .headerText{
        font-size: xxx-large;
        margin: 15px 16px;
    }
    .sidebarMenu {
        top: 30px;
    }
    input[type=button]{
        margin: 0 11px;
        height: 60px;
        width: 70px;
    }
    .bar1{
        width: 60px;
        height: 8px;
        top: 25px;
        left: 16px;
    }
    .bar2{
        width: 60px;
        height: 8px;
        top: 42px;
        left: 16px;
    }
    .bar3{
        width: 60px;
        height: 8px;
        top: 59px;
        left: 16px;
    }
    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 17px) rotate(-45deg);
    }
    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}

    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -17px) rotate(45deg);
    }
    .sidebarMenuInner li{
        font-size: xx-large;
    }
    .sidebarMenuInner li span{
        font-size: x-large;
    }
    .sidebarMenuInner li a{
        font-size: xx-large;
        padding: .7em 20em;
        margin: -.7em -20em;
    }

}
